html { 
    background: url(images/UnQuote_Splash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 3.2vmax;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px black;
}

.navBar{
    background-color: rgba(255, 255, 255, 0.7);
    height: 33px;
    width: 100%;
    border: 0;
    padding: 0;
}

.buttonBox{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.button{
    margin-right: 5px;
}

.logo{
    position: absolute;
    left: 27%;
    top: 35%;
    width: 45%;
    display:block;
}

.blurb{
    position: absolute;
    left: 30%;
}